@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
.bg-bp-bricks {
  background-repeat: repeat !important;
  background-image: url('./assets/bricks.webp');
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
