@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/cdk/overlay-prebuilt.css';

.cdk-overlay-container {
  z-index: 20 !important;
}

/* You can add global styles to this file, and also import other style files */
.bg-bp-bricks {
  background-repeat: repeat !important;
  background-image: url('./assets/bricks.webp');
}

.bg-bp-earth {
  background-repeat: repeat !important;
  background-image: url('./assets/skins/dock/earth.png');
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@font-face {
  font-family: 'game-font';
  src: url('./assets/fonts/exxa_game.ttf');
}

.bp-font-game {
  font-family: 'game-font';
}

.bp-skin-metal {
  background-image: url('./assets/skins/dock/metal-new.png');
  background-repeat: no-repeat;
  width: 890px;
  height: 271px;
  position: absolute;
  top: -50px;
}

.bp-bg-chip {
  background-image: url('./assets/skins/dock/chip.png');
  background-repeat: repeat;
  -webkit-box-shadow: 13px 2px 23px -8px rgb(235 235 235);
  -moz-box-shadow: 13px 2px 23px -8px rgb(235 235 235);
  box-shadow: 13px 2px 23px -8px rgb(235 235 235);
}

/* This class are for the side bars, name to be changed!*/
.bp-skin-sidbar-right {
  background-image: url('./assets/skins/dock/sidebar-right.png');
  background-repeat: no-repeat;
  width: 340px;
  height: 690px;
  top: -91px;
  right: -2px;
}

.bp-skin-sidbar-left {
  background-image: url('./assets/skins/dock/sidebar-left.png');
  background-repeat: no-repeat;
  width: 340px;
  height: 690px;
  top: -91px;
  left: -2px;
}

.bp-skin-modal-1 {
  background-image: url('./assets/skins/dock/modal_1.png');
  background-repeat: no-repeat;
  width: 415px;
  height: 572px;
  top: -100px;
  left: -37px;
}

.bp-skin-modal-top {
  background-image: url('./assets/skins/dock/modal_top_part.png');
  background-repeat: no-repeat;
  width: 415px;
  height: 72px;
  top: -52px;
  left: -8px;
}

.bp-skin-modal-bottom {
  background-image: url('./assets/skins/dock/modal_bottom_part.png');
  background-repeat: no-repeat;
  width: 415px;
  height: 72px;
  bottom: -72px;
  left: -4px;
}

.bp-skin-modal-body {
  background-image: url('./assets/skins/dock/modal_body_part.png');
  background-repeat: repeat;
  width: 376px;
  max-width: 376px;
  min-width: 376px;
}

.bp-bg-metal-right {
  background-image: url('./assets/skins/dock/metal-4.png');
  background-repeat: repeat;
  width: 280px;
  margin-left: 3px;
  margin-bottom: 6px;
}

.bp-bg-metal {
  background-image: url('./assets/skins/dock/metal-4.png');
  background-repeat: repeat;
}

.bp-bg-futuristic {
  background-image: url('./assets/skins/dock/repetead-background.png');
  background-repeat: repeat;
}

.bp-skin-title-box {
  background-image: url('./assets/skins/dock/title-background.png');
  background-repeat: no-repeat;
  height: 80px;
}

.bp-skin-metal-divider {
  background-image: url('./assets/skins/dock/divider-1.png');
  background-repeat: no-repeat;
  height: 66px;

  position: absolute;
  left: -15px;
  top: -35px;
  width: calc(100% + 41px);
}

.bp-skin-metal-body {
  height: 350px;
  overflow-y: scroll;
  width: 280px;
}

.bp-skin-metal-detail {
  background-image: url('./assets/skins/dock/metal-details-1.png');
  background-repeat: no-repeat;
  width: 38px;
  height: 61px;
}

.bp-skin-metal-border {
  background-image: url('./assets/skins/dock/top-line-repeat.png');
  background-repeat: repeat;
  height: 17px;
}

.bp-skin-metal-border-bottom {
  background-image: url('./assets/skins/dock/bottom-line-repeat.png');
  background-repeat: repeat;
  height: 17px;
}

.bp-skin-metal-border-right {
  background-image: url('./assets/skins/dock/right-line-repeat.png');
  background-repeat: repeat;
  width: 17px;
}

.bp-skin-metal-corner-right-top {
  background-image: url('./assets/skins/dock/top-right-corner.png');
  background-repeat: no-repeat;
  height: 92px;
  width: 92px;
}

.bp-skin-metal-corner-right-bottom {
  background-image: url('./assets/skins/dock/bottom-right-corner.png');
  background-repeat: no-repeat;
  height: 92px;
  width: 92px;
}

.custom-style-1 {
  padding-left: 17px;
  width: 296px;
}
.custom-style-2 {
  margin-left: 3px;
  width: 280px;
}
/*end*/
.bp-skin-metal-3 {
  background-image: url('./assets/skins/dock/metal-bar.png');
  background-repeat: repeat;
  -webkit-box-shadow: -1px 6px 25px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 6px 25px -4px rgba(0, 0, 0, 0.7);
  box-shadow: -1px 6px 25px -4px rgba(0, 0, 0, 0.7);
}

.bp-skin-metal-2 {
  background-image: url('./assets/skins/dock/metal-2.png');
  background-repeat: repeat;
  -webkit-box-shadow: -1px -6px 25px -4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px -6px 25px -4px rgba(0, 0, 0, 0.7);
  box-shadow: -1px -6px 25px -4px rgba(0, 0, 0, 0.7);
}

.bp-skin-metal-3 {
  background-image: url('./assets/skins/dock/metal-3.png');
  background-repeat: repeat;
  -webkit-box-shadow: -1px 4px 15px -4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -1px 4px 15px -4px rgba(0, 0, 0, 0.8);
  box-shadow: -1px 4px 15px -4px rgba(0, 0, 0, 0.8);
}

.bp-metal-plate {
  background-image: url('./assets/skins/dock/metal-plate.png');
  background-repeat: repeat;
  -webkit-box-shadow: -1px 4px 15px -4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -1px 4px 15px -4px rgba(0, 0, 0, 0.8);
  box-shadow: -1px 4px 15px -4px rgba(0, 0, 0, 0.8);
}

.bp-input-metal {
  background-image: url('./assets/skins/dock/input_metal_background.png');
  background-repeat: repeat;
  width: 100%;
  padding: 7px;
}

.bp-button-metal {
  background-color: transparent;
  background-image: url('./assets/skins/dock/button.png');
  background-repeat: no-repeat;
  color: white;
  width: 115px;
  height: 47px;
  font-size: 24px;
}

.bp-button-close {
  background-color: transparent;
  background-image: url('./assets/skins/dock/close_button.png');
  background-repeat: no-repeat;
  color: white;
  width: 34px;
  height: 34px;
}

.bp-button-close:hover {
  background-image: url('./assets/skins/dock/close_button_hover.png');
}

.bp-button-metal:active {
  background-image: url('./assets/skins/dock/button_pressed.png');
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c7364;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #275045;
}
