@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/cdk/overlay-prebuilt.css';

.cdk-overlay-container {
  z-index: 20 !important;
}

/* You can add global styles to this file, and also import other style files */
.bg-bp-bricks {
  background-repeat: repeat !important;
  background-image: url('./assets/bricks.webp');
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body,
.board {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@font-face {
  font-family: 'game-font';
  src: url('./assets/fonts/exxa_game.ttf');
}

.bp-font-game {
  font-family: 'game-font';
}

.bp-bg-futuristic {
  background-image: url('./assets/skins/dock/repetead-background.png');
  background-repeat: repeat;
}

.bp-skin-dock-detail-left {
  background-image: url('./assets/skins/dock/dock-detail-1.png');
  background-repeat: no-repeat;
  height: 140px;
  width: 145px;

  left: -36px;
}

.bp-skin-dock-detail-right {
  background-image: url('./assets/skins/dock/dock-detail-2.png');
  background-repeat: no-repeat;
  height: 140px;
  width: 145px;

  right: -40px;
}

.bp-skin-dock-detail-center {
  background-image: url('./assets/skins/dock/dock-detail-center.png');
  background-repeat: no-repeat;
  height: 77px;
  width: 381px;

  top: -52px;
  z-index: 70;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}

.bp-skin-title-box {
  background-image: url('./assets/skins/dock/title-background.png');
  background-repeat: no-repeat;
  height: 80px;
}

.bp-skin-metal-divider {
  background-image: url('./assets/skins/dock/divider-1.png');
  background-repeat: no-repeat;
  height: 66px;

  position: absolute;
  top: -35px;
  width: calc(100% + 41px);
}

.bp-skin-metal-body {
  height: 350px;
  overflow-y: scroll;
  width: 280px;
}

.bp-skin-metal-detail {
  background-image: url('./assets/skins/dock/metal-details-1.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 41px;
}

.bp-skin-metal-detail-2 {
  background-image: url('./assets/skins/dock/metal-details-2.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 41px;
}

.bp-skin-metal-border {
  background-image: url('./assets/skins/dock/top-line-repeat.png');
  background-repeat: repeat;
  height: 17px;
}

.bp-skin-metal-border-bottom {
  background-image: url('./assets/skins/dock/bottom-line-repeat.png');
  background-repeat: repeat;
  height: 17px;
}

.bp-skin-metal-border-right {
  background-image: url('./assets/skins/dock/right-line-repeat.png');
  background-repeat: repeat;
  width: 17px;
}

.bp-skin-metal-border-left {
  background-image: url('./assets/skins/dock/left-line-repeat.png');
  background-repeat: repeat;
  width: 17px;
}

.bp-skin-metal-corner-right-top {
  background-image: url('./assets/skins/dock/top-right-corner.png');
  background-repeat: no-repeat;
  height: 92px;
  width: 92px;
}

.bp-skin-metal-corner-left-top {
  background-image: url('./assets/skins/dock/top-left-corner.png');
  background-repeat: no-repeat;
  height: 92px;
  width: 92px;
}

.bp-skin-metal-corner-right-bottom {
  background-image: url('./assets/skins/dock/bottom-right-corner.png');
  background-repeat: no-repeat;
  height: 92px;
  width: 92px;
}

.bp-skin-metal-corner-left-bottom {
  background-image: url('./assets/skins/dock/bottom-left-corner.png');
  background-repeat: no-repeat;
  height: 92px;
  width: 92px;
}

.bp-skin-dock-icon-border {
  background-image: url('./assets/skins/dock/dock-icon-border.png');
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.custom-style-1 {
  padding-left: 17px;
  width: 296px;
}

.custom-style-2 {
  margin-left: 3px;
  width: 280px;
}

.bp-input-futuristic {
  background-image: url('./assets/skins/dock/input-futuristic.png');
  background-repeat: no-repeat;
  width: 278px;
  height: 54px;
  background-color: transparent;
}

.bp-input-futuristic:read-only {
  background-image: url('./assets/skins/dock/input-futuristic-read-only.png');
}

.bp-button-futuristic {
  background-color: transparent;
  background-image: url('./assets/skins/dock/button-normal.png');
  background-repeat: no-repeat;
  width: 229px;
  height: 69px;
  font-size: 24px;
}

.bp-button-futuristic:hover {
  background-image: url('./assets/skins/dock/button-hover.png');
}

.bp-button-futuristic:active {
  background-image: url('./assets/skins/dock/button-active.png');
}

.bp-button-close-futuristic {
  background-color: transparent;
  background-image: url('./assets/skins/dock/close-button.png');
  background-repeat: no-repeat;
  width: 39px;
  height: 35px;
}

.bp-button-close-futuristic:hover {
  background-image: url('./assets/skins/dock/close-button-hover.png');
}

.bp-button-add-futuristic {
  background-color: transparent;
  background-image: url('./assets/skins/dock/add-button.png');
  background-repeat: no-repeat;
  width: 39px;
  height: 35px;
}

.bp-button-add-futuristic:hover {
  background-image: url('./assets/skins/dock/add-button-hover.png');
}

.bp-button-generate-futuristic {
  background-color: transparent;
  background-image: url('./assets/skins/dock/generate-button.png');
  background-repeat: no-repeat;
  width: 39px;
  height: 35px;
}

.bp-button-generate-futuristic:hover {
  background-image: url('./assets/skins/dock/generate-button-hover.png');
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c7364;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #275045;
}

// Utilities (find tailwind analog)
.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
